@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Noto+Serif+Toto:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');


:root {
    --midnight-green-eagle-green: #174C50ff;
    --cultured: #E9EFF0ff;
    --orange-peel: rgb(229, 139, 21);
    --medium-aquamarine: #06E8B0ff;
    --magenta-crayola: #FB49B7ff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--midnight-green-eagle-green);
    padding: 10px;
}

.bubleBox {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

header {
    background-color: #FB49B7ff;
    color: var(--cultured);
    font-family: 'Noto Serif Toto', serif;
}

h3 {
    font-size: 15px;
    padding-left: 3px;
}



.form {
    background-color: var(--cultured);
    background-color: var(--medium-aquamarine);
    display: grid;
    gap: 15px;
    color: #174C50ff;
    font-weight: bold;
}


.qGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.question {
    width: 110px;
}

.option {
    border-radius: 3px;
    padding: 5px;
}

.active {
    background-color: var(--cultured);
}

.submit {
    background-color: var(--orange-peel);
    color: var(--cultured);
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    border-radius: 20px;
    text-align: center;
    width: 100px;
}